<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Predict Your Car Price</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>



  
<style>
  ::placeholder {
    color:rgb(13, 13, 14);
    opacity:0.8; /* Firefox */
    font-weight: bold;
  }
  </style>
  
</head>
<body style="background-image: url('{{ url_for('static', filename='car1.jpg') }}');
background-repeat:no-repeat;
background-size:cover;
height:100vh;
display:flex;
">

 <div class="login">
	<h1>Predict Your Car Price</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form name="myform" action="{{ url_for('predict')}}"method="post" onsubmit="return(validateform());">
        <input type="text" style="background-color:rgba(219, 228, 236,0.5); height: 45px;margin-bottom: 40px;" name="Year of Purchase" placeholder="Manufacturing Year" required="required" /><br>
        <input type="text" style="background-color:rgba(219, 228, 236,0.5);height: 45px;margin-bottom: 40px;" name="kms Driven" placeholder="kms Driven" required="required" /><br>
        <select name="fuel" style="background-color:rgba(219, 228, 236,0.5);width: 400px;height: 45px;padding: 10px;margin-bottom: 10px;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);border-radius: 4px;box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);">
        <option value="Fuel Type" style="color: aliceblue;">Fuel Type</option>
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
        <option value="LPG">LPG</option>
        <option value="CNG">CNG</option>
	<option value="Electric">Electric</option>
	</select>
	<select name="transmission" style="background-color:rgba(219, 228, 236,0.5);width: 400px;height: 45px;padding: 10px;margin-bottom: 10px;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);border-radius: 4px;box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);">
        <option value="Transmission" style="color: aliceblue;">Transmission</option>
        <option value="Automatic">Automatic</option>
        <option value="Manual">Manual</option>
        </select>
	<select name="maker" style="background-color:rgba(219, 228, 236,0.5);width: 400px;height: 45px;padding: 10px;margin-bottom: 10px;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);border-radius: 4px;box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);">
        <option value="maker" style="color: aliceblue;">maker</option>
        <option value="opel">opel</option>
        <option value="audi">audi</option>
        <option value="ford">ford</option>
        <option value="skoda">skoda</option>
        <option value="fiat">fiat</option>
        <option value="seat">seat</option>
        <option value="toyota">toyota</option>
        <option value="citroen">citroen</option>
        <option value="bmw">bmw</option>
        <option value="nissan">nissan</option>
        <option value="hyundai">hyundai</option>
        <option value="mazda">mazda</option>
        <option value="volvo">volvo</option>
        <option value="kia">kia</option>
        <option value="mini">mini</option>
        <option value="smart">smart</option>
        <option value="mitsubishi">mitsubishi</option>
        <option value="porsche">porsche</option>
        <option value="honda">honda</option>
        <option value="suzuki">suzuki</option>
        <option value="mercedes-benz">mercedes-benz</option>
        <option value="jeep">jeep</option>
        <option value="chevrolet">chevrolet</option>
        <option value="subaru">subaru</option>
        <option value="jaguar">jaguar</option>
        <option value="lancia">lancia</option>
        <option value="chrysler">chrysler</option>
        <option value="dodge">dodge</option>
        <option value="lexus">lexus</option>
        <option value="maserati">maserati</option>
        <option value="rover">rover</option>
        <option value="bentley">bentley</option>
        <option value="hummer">hummer</option>
        <option value="lamborghini">lamborghini</option>
        <option value="isuzu">isuzu</option>
        <option value="lotus">lotus</option>
        <option value="tesla">tesla</option>
        </select>
        <select name="engine power" style="background-color:rgba(219, 228, 236,0.5);width: 400px;height: 45px;padding: 10px;margin-bottom: 30px;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);border-radius: 4px;box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);">
        <option value="engine power" style="color: aliceblue;margin-top: 40px;">engine power</option>
		<option value=">110">high</option>
		<option value="90-110">medium</option>
		<option value="<90">low</option>
	    </select>
	<input type="text" style="background-color:rgba(219, 228, 236,0.5); height: 45px;margin-top: 40px;" name="door count" placeholder="number of doors" required="required" /><br>
        <input type="text" style="background-color:rgba(219, 228, 236,0.5); height: 45px;" name="seat count" placeholder="number of seats" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large" style="margin-top: 40px;background-color:rgba(255, 2, 2,0.5);width: 400px;height: 45px;padding: 10pxl;font-size: 13px;text-shadow: 1px 1px 1px rgb(0,0,0);border: 1px solid rgba(0,0,0,0.3);">Predict</button>

        
<!--         <a href="visual" class="btn btn-primary btn-block btn-large" style="text-decoration: none;">Visualize</a> -->
    </form>
    <div>
     <b><p>Predicted price of your car with respect to Random Forest Regressor and Linear Regression Algorithms </p> <p style="margin-top: 40px;width:300px;height: 100px;font-size: 40px;font-size: medium; color:aliceblue;">{{ prediction_text }}<br></p></b>
     </div>
 </div>



</body>
</html>
